<div class="container">
  <div class="timerbox">
    <div class="timedisplay">
      <h1>{{ hour }}:{{ minute }}:{{ seconds }}:{{ milliseconds }}</h1>
      <p>{{ newtime }}</p>
    </div>
    <div class="controls">
      <button type="button" class="btn btn-start" (click)="startTime()">
        Start
      </button>
      <button type="button" class="btn btn-start" (click)="stopTime()">
        Stop
      </button>
      <button type="button" class="btn btn-start" (click)="resetTime()">
        Reset
      </button>
    </div>
  </div>
</div>
